# ---------------------- APP Config ----------------------
APP_NAME = "RAG-APP"
APP_VERSION = "0.1"

# ---------------------- FILES Config ----------------------
FILE_ALLOWED_TYPES=
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 # 512KB
FILE_IMAGES_MAX_WIDTH = 600
FILE_IMAGES_DPI = 200

# ---------------------- DB Config ----------------------
MONGODB_URL = ""
MONGODB_DATABASE = ""
CHAT_DOCUMENT_TTL = 

# ---------------------- LLM Config ----------------------

EXTRACTION_BACKEND = "openai"
GENERATION_BACKEND = "openai"
EMBEDDING_BACKEND = "openai"
RERANKING_BACKEND = "cohere"

OPENAI_API_KEY = ""
OPENAI_API_URL = "https://openrouter.ai/api/v1"
COHERE_API_KEY = ""

EXTRACTION_MODEL_ID = ""
GENERATION_MODEL_ID = ""
EMBEDDING_MODEL_ID = ""
EMBEDDING_MODEL_SIZE = ""
RERANKING_MODEL_ID = ""

EXTRACTION_MAX_OUTPUT_TOKENS = 4096
INPUT_MAX_CHARACTERS =  1024    
GENERATION_OUTPUT_MAX_TOKENS = 200
GENERATION_TEMPERATURE = 0.1

# ---------------------- VectorDB Config ----------------------
VECTOR_DB_BACKEND = "qdrant"
VECTOR_DB_URL = ""
VECTOR_DB_PATH = "qdrant_db"
VECTOR_DB_DISTANCE_METHOD = "cosine"

# ---------------------- Template Config ----------------------
PRIMARY_LANG = "en"
DEFAULT_LANG = "en"
